h1 Jots
h2 Social networks are for networking, not for content.
.jot#reach
p If you cannot reach me, it's because I cannot be reached.
.tag faith
.expand
  p Thinking through living through obscurity. There is a total aversion to living in solitude. Will I not be living my life if I listen to the media or social networks. I would say those who don't read the networks have the most to say. For, what they say is influenced by real life and conversations with God.
