.lists {
  @include row();
  .topic {
    @include span-columns(12);
    @include media($medium-screen) {
      h2 {
        font-size: 1em;
        padding-top: 1em;
      }
      @include span-columns(3);
    }
  }
  .gist {
    @include span-columns(12);
    @include media($medium-screen) {
      font-size: 0.9em;
      border-left: 1px solid $light-gray;
      padding-left: 1em;
      @include span-columns(9);
    }
  }
}

.reading_index .gist, .links_index .gist, .index .notes .gist {
  h2 { margin-bottom: 0em; }
  p {
    padding: 0;
    margin: 0;
  }
  span {
    color: $medium-gray;
    font-style: italic;
  }
}

// // .shortcuts, .questions, .reading {
// .shortcuts, .questions, .reading {
//   h2 { margin-bottom: 0; }

//   article:last-child {
//     border-bottom: none;
//   }

//   .shortcut {
//     padding-top: 0.5em;
//     @include row();
//     .topic {
//       h2 { font-size: 1em;}
//       @include media($medium-screen) {
//         @include span-columns(2);
//       }
//     }
//     .gist {
//       h2 {
//         font-size: 0.9em;
//         font-family: courier;
//         border: 1px solid $medium-gray;
//         padding: 1em;
//         border-radius: 5px;
//       }
//       @include media($medium-screen) {
//         @include span-columns(10);
//       }
//     }

//     h1 { font-size: 1.3em; }
//     p {
//       font-size: 0.8em;
//     }
//   }
// }
