// Import Base Styles
@import "base/normalize";
@import 'bourbon';

// Variables
@import 'base/variables';

// Mixins
@import 'base/mixins/flash';

// Extends
@import 'base/extends/button';
@import 'base/extends/clearfix';
@import 'base/extends/hide-text';

// Typography and Elements
@import 'base/typography';
@import 'base/forms';
@import 'base/tables';
@import 'base/lists';
@import 'base/flashes';
@import 'base/buttons';

@import 'lib/animate';


// Neat needs to be installed before bitters.
@import 'neat';

@import "base/base";
@import "layout/layout";

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700|Montserrat);

$cond: 'Oswald', sans-serif;
$fat: 'Montserrat', sans-serif;

html {
  background: url(../../images/pictures/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  background: rgba(255,255,255,0.75);
  z-index: -100;
  margin: 0;
  padding: 0;
}

#nav {
  position: fixed;
  background: rgba(0,0,0,0.1);
  z-index: 2000;
  top: 0;
  width: 100%;
  color: white;
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 0.5em;
  }
  a {
    color: white;
    display: inline-block;
    padding: 0.2em 1em;
    &:hover {
      @include transition(color 250ms ease-in);
      color: black;
    }
  }
}

// Laird

#tow-in {
  h1 {font-family: $cond; }
  h2, h3 {font-family: $fat; }
  max-width: 1400px;
  margin: 0 auto;


#laird {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 900px;
  // margin-top: -840px;
  display: none;

  .copy {
    @include outer-container;
    @include row;
    margin-top: 1em;
    color: white;
    .headline {
      @include span-columns(4);
      position: relative;
      font-size: 9em;
      z-index: 10;
      font-family: $cond;
      width: 20%;
    }
    .story {
      @include shift(3.5);
      @include span-columns(4.5);
      margin-top: 18em;

      .jetski-img {
        width: 20%;
        position: absolute;
        bottom: 26em;
        right: 5.5em;
        @include transform(rotate(6deg));
        border: 8px solid white;
        box-shadow: 3px 3px 3px 4px rgba(0,0,0,0.5);
      }
    }
  }

  .laird-img {
    position: absolute;
    top: 0px;
    z-index: -10;
    background: url('../../images/laird.jpg') no-repeat;
    width: 100%;
    height: 850px;
  }
}
.click-me {
  position: relative;
  margin-bottom: -2em;
  color: #ff6666;
  z-index: 20;
  text-align: right;
  background: #cccccc;
  padding: 0.5em;
  right: 0;
}

.title {
  text-align: center;
  position: relative;
  height: 640px;
  color: white;
  .headline {
    position: relative;
    z-index: 10;
    padding-top: 1em;
    font-size: 8em;
  }
  .tagline {
    position: relative;
    z-index: 10;
    font-size: 4em;
  }
  .tldr {
    position: relative;
    z-index: 10;
    font-size: 2em;
  }
  .hero {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  img  {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  }
}

.post-copy {
  padding: 4em;
  position: relative;
  background: rgba(215,255,255,0.9);
  border: 20px solid rgba(255,255,255,0.9);
  border-radius: 3px;
  margin: 3em;
  z-index: -100px;
  .college {
    @include row;
    .copy {
      @include span-columns(6);
      font-size: 2em;
    }
    img {
      @include transform(rotate(2deg));
      @include span-columns(6);
      border: 15px solid white;
      box-shadow: 1px 1px 3px #aaa;
    }
  }
}

// Main
#main {}


#jeff-intro {
  position: relative;
  z-index: 100;
  height: 100%;
  .copy {
    width: 80%;
    // margin: 0 auto;
  }
  h1 {
    font-size: 12em;
    color: white;
    font-family: $fat;
    background: rgba(0,0,0, 0.5);
    margin-bottom: 0.2em;
  }

  h2 {
    width: 85%;
    color: white;
    font-size: 6em;
    background: rgba(0,0,0, 0.5);
    margin-bottom: 0.2em;
  }

  h3 {
    width: 60%;
    color: white;
    background: rgba(0,0,0, 0.5);
    margin-bottom: 0.1em;
  }
  .jeff-fishing {
    background: url('../../images/jeff_fish2.jpg') no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1400px;
    z-index: -10;
  }
}

  #port {
    @include row;
    img {
      @include span-columns(4.15);
      @include omega(3n);
      margin-right: 0;
      width: 33.33%;
    }
  }
}

#footer {
  background: red;
  padding: 3em;
  width: 100%;
  height: 3em;
}
