@import 'import';
@import 'modules/nav_overlay';

body {
  padding: 0.75em;
  background: #173138;
}

h1, h2, h3, h4, h5 {
  font-family: $fat;
  color: #56A599;
  @include media($medium-screen) { font-size: 1.5em }
}

h2 {
  font-size: 1.7em;
  @include media($medium-screen) { font-size: 3.5em; }
}
h3 {
  font-size: 0.85em;
  font-family: helvetica;
  font-weight: 100;
  margin-bottom: 0.5em;
  @include media($medium-screen) { font-size: 2em; }
}
h4 {
  margin-top: 1em;
  border-bottom: 1px solid $slate;
  @include media($medium-screen) {
    margin-top: 4em;
    padding-bottom: 0.125em;
    margin-bottom: 0.125em;
  }

}
h6 { display: none; } // subtitle on index page.

p {
  font-size: 0.925em;
  color: #ece4ab;
  @include media($medium-screen) { font-size: 1.3em; }
}

a {
  color: yellow;
}

pre {
  border: 3px solid $slate;

  background: rgba(255, 255, 255, 0.72);
  border-radius: 3px;
  padding: 1em 1em;
  font-size: 0.75em;
  @include media($medium-screen) {
    font-size: 0.9em;
    border: 5px solid $slate;

    background: rgba(255, 255, 255, 0.72);
  }
  code {
    color: white;
  }
  span.line-numbers {
    padding-right: 1em;
    a { color: #aaa; }
  }
}
