@import 'bourbon';
@import 'neat';

// padding, pixels, weights

$limited_space: 0em;
$default_space: 1em;
$extra_space:   2em;
$line_weight:   3px;
$subtle_radius: 3px;
$line_type:     solid;

$font_size_4:   4em;
$font_size_3:   3em;
$font_size_2:   2em;
$font_size_1:   1em;

// colors
$white: rgba(255,255,255,0.5);
$gray:       #004080;
$light_gray: #eee;
$eggplant:   #800080;
$pink:       #F2DDE6;
$green:      #00A050;

// typography
$sanserif: 'helvetica neue', helvetica, arial;
$lucida: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;


// Mixins
// Able to use raw HTML elements
// Use variables for measurements

@mixin text_right { text-align: right; }

@mixin paragraph {
  background: $white;
  font-size: $default_space;
  font-family: $lucida;
  padding: $extra_space;
  line-height: 25px;
}

@mixin rounded_background_dark {
  background: $light_gray;
  border-radius: $line_weight;
}

@mixin container {
  padding: $extra_space;
  background: $light_gray;
  margin: $extra_space;
  border: $line_weight $line_type $gray;
}

@mixin list {
  ul {
    color: $eggplant;
    background: $pink;
    padding-top: $default_space;
    padding-bottom: $default_space;
  }
  li {
    font-size: $default_space;
    margin: $default_space $limited_space $limited_space $limited_space;
  }
}

@mixin button {
  background: $green;
  color: white;
  border-radius: $subtle_radius;
  font-family: $sanserif;
  font-size: $font_size_4;
  font-weight: 100;
  letter-spacing: 3px;
  padding: $default_space;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: $eggplant;
  }
}

@mixin dynamic {
  opacity: 0;
  font-size: 0;
}
@mixin active {
  opacity: 1 !important;
  font-size: inherit !important;
}



// FIX
@mixin fadeIn {
//   margin_left: 0;
//   @include transition(all 300ms ease_in);
}

// .animated {
//   @include transition(all 300ms ease_in);
// }


._reach_ {
  &.app {}
  &.page {}
  &.collection {}
  // .unit -> use .unit
}

._content_ {
  &.container { @include container }
  &.button    { @include button    }
  &.paragraph { @include paragraph }
  &.list      { @include list      }
  &.grid      {}
  &.title     {}
  &.image     {}
}


._unit_ {
  &.rounded_background_dark { @include rounded_background_dark }
  &.welcome_title { font-size: $font_size_4; }
  &.welcome_message { font-size: $font_size_2; }
  &.welcome-btn {}
  &.collection-title {
    font-size: $font_size_3;
  }
}

._responsive_ {
  &.col_1 {}
  &.col_2 {}
  &.hide  {}
}

._state_ {
  &.active  { @include active; }
  &.dynamic { @include dynamic; }
  &.alarm   {}
}

._overrides_ {
  &.text_right { @include text_right; }
}

._animated_ {
  &.fadeIn{ @include fadeIn; }
}
