@import 'bourbon';
@import 'neat';

// padding, pixels, weights

$limited-space: 0em;
$default-space: 1em;
$extra-space:   2em;
$line-weight:   3px;
$subtle-radius: 3px;
$line-type:     solid;


// colors
$gray:       #004080;
$light-gray: #eee;
$eggplant:   #800080;
$green:      #00A050;

// typography
$lucida: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;


// Mixins
// Able to use raw HTML elements
// Use variables for measurements

@mixin text-right { text-align: right; }

@mixin paragraph {
  color: $gray;
  font-size: $default-space;
  font-family: $lucida;
  padding: $extra-space;
  line-height: 25px;
}

@mixin rounded-background-dark {
  background: $light-gray;
  border-radius: $line-weight;
}

@mixin container {
  padding: $extra-space;
  margin: $extra-space;
  border: $line-weight $line-type $gray;
}

@mixin list {
  ul {
    color: $eggplant;
  }
  li {
    font-size: $default-space;
    margin: $default-space $limited-space $limited-space $limited-space;
  }
}

@mixin button {
  background: $green;
  color: white;
  border-radius: $subtle-radius;
  font-size: $default-space;
  padding: $default-space;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: $eggplant;
  }
}

@mixin dynamic {
  opacity: 0;
}
@mixin active { opacity: 1 !important; }



// FIX
@mixin fadeIn {
//   margin-left: 0;
//   @include transition(all 300ms ease-in);
}

// .animated {
//   @include transition(all 300ms ease-in);
// }


.reach {
  &.app {}
  &.page {}
  &.collection {}
  // .unit -> use .unit
}

.content {
  &.container { @include container }
  &.button    { @include button    }
  &.paragraph { @include paragraph }
  &.list      { @include list      }
  &.grid      {}
  &.title     {}
  &.image     {}
}


.unit {
  &.rounded-background-dark { @include rounded-background-dark }
  &.welcome-title { font-size: 3em; }
  &.welcome-message { font-size: 1.4em; }
  &.welcome-btn {}
}

.responsive {
  &.col-1 {}
  &.col-2 {}
  &.hide  {}
}

.state {
  &.active  { @include active; }
  &.dynamic { @include dynamic; }
  &.alarm   {}
}

.overrides {
  &.text-right { @include text-right; }
}

.animated {
  &.fadeIn{ @include fadeIn; }
}
