@import 'import';
@import 'modules/nav_overlay';

body {
  padding: 0.75em;
  &.index   { background: $bird-light-green; }
  &.about   { background: $blue; }
  &.contact { background: $salmon; }
  &.blog    { background: $paste; }
}

.bird-logo {
  img { width: 100%; }
}

h1 {
  font-family: $fat;
  @include media($medium-screen) { font-size: 5em }
}

p { font-size: 1.3em; }

.about {
  h1, h2 { color: white; }
  p { color: $light-yellow; }
}

.contact {
  h1, h2, { color: #800000; }
  p { color: white; }
  .label {
    color: #a1ffe1;
    font-size: 2em;
    @include media($medium-screen) {
      float: left;
    }
  }
  .info, .info a {
    color: yellow;
    @include media($medium-screen) {
      font-size: 1.8em;
    }
  }
}

.blog {
  h1 {
    font-size: 1.25em;
    line-height: 23px;
    @include media($medium-screen) {
      font-size: 3em;
      line-height: 60px;
    }
  }
  p {
    font-size: 0.8em;
    @include media($medium-screen) { font-size: 1.75em; }
    &.tags {
      color: #b6b083;
      float: right;
      font-size: 1em;
    }
  }
  article {
    margin: 1em 0;
    @include media($medium-screen) { padding: 1em 1em;}
    p { margin-bottom: 0; }
    &:hover { background: rgba(238, 229, 150, 0.5); }
    a:hover { color: none; }
  }
}
