// Import Base Styles
@import "base/normalize";
@import 'bourbon';

// Variables
@import 'base/variables';

// Mixins
@import 'base/mixins/flash';

// Extends
@import 'base/extends/button';
@import 'base/extends/clearfix';
@import 'base/extends/hide-text';

// Typography and Elements
@import 'base/typography';
@import 'base/forms';
@import 'base/tables';
@import 'base/grid-settings';
@import 'base/lists';
@import 'base/flashes';
@import 'base/buttons';

@import 'lib/animate';


// Neat needs to be installed before bitters.
@import 'neat';

@import "base/base";
@import "layout/layout";


.logo {
  text-decoration: underline;
  margin-left: 0.3em;
}

h1, h2{ font-family: $cond; }
h3, p, li, a { font-family: $fat; }

a {
  display: inline-block;
  width: 100%;
  padding: 0.15em 0.25em;
}

.landing-title {
  position: relative;
  &:hover {
    @include transition(all 300ms ease-in-out);
    background: #66ccff;
    cursor: pointer;
    img {
      @include transition(all 300ms ease-in-out);
      opacity: 0.2;
    }
    h1, h2{
      @include transition(all 500ms ease-in-out);
      color: #ffff00;
    }
    .button {
      @include transition(all 500ms ease-in-out);
      color: #00ff80;
      background: #228190;
    }
  }
  text-align: center;
  position: relative;
  height: 640px;
  color: rgba(255,255,255,0.9);
  .headline {
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    padding-top: 0.4em;
    font-size: 14em;
    margin-bottom: -0.1em;
  }
  .tagline {
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    font-size: 4em;
  }
  .button {
    position: relative;
    z-index: 10;
    font-size: 2em;
    color: #ff6666;
    width: 20%;
    margin: 1em auto 0;
    padding: 0.4em;
    border: 5px solid white;
  }
  .hero {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  img  {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  }
}

.content {
  text-align: center;
  @include media ($medium-screen) {
    @include row;
    text-align: left;
  }
  .medium {
    @include media ($medium-screen) {
      @include span-columns(4);
      &.off:hover {
        @include transition(all 300ms ease-in-out);
        background: rgba(255,255,210,0.3);
        & > .goodbye {
          display: block;
        }
        h2 { float: left;
          margin-right: 1em;
        }
      }
      .goodbye {
        color: #ff6666;
        font-size: 1em;
        display: none;
        @include clearfix;
      }
    }
  }
  .skinny {
    @include media ($medium-screen) {
      @include span-columns(2);
    }
  }
  .fat {
    @include media ($medium-screen) {
      @include span-columns(6);
    }
  }
}

#footer {
  background: white;
  color: black;
  padding: 2em;
  h2 { font-size: 1.5em;}
  h3 {
    font-size: 1em;
    padding: 0.2em 0;
    color: #aaa;
  }
  a:hover {
    @include transition(all 100ms ease-in-out);
    background: #ffcc66;
    width: 100%;
  }

  .social {
    @include outer-container;
    ul { text-align: left; }
    li { display: inline-block;}
    a { display: block; padding: 0.25em 1em;}
  }
}
