// Import Base Styles
@import "base/normalize";
@import 'bourbon';

// Variables
@import 'base/variables';

// Mixins
@import 'base/mixins/flash';

// Extends
@import 'base/extends/button';
@import 'base/extends/clearfix';
@import 'base/extends/hide-text';

// Typography and Elements
@import 'base/typography';
@import 'base/forms';
@import 'base/tables';
@import 'base/grid-settings';
@import 'base/lists';
@import 'base/flashes';
@import 'base/buttons';

@import 'lib/animate';


// Neat needs to be installed before bitters.
@import 'neat';

@import "base/base";
@import "layout/layout";

.logo {
  text-decoration: underline;
}
.content {
  text-align: center;
  @include media ($medium-screen) {
    @include row;
    text-align: left;
  }
  .medium {
    @include media ($medium-screen) {
      @include span-columns(4);
    }
  }
  .skinny {
    @include media ($medium-screen) {
      @include span-columns(2);
    }
  }
  .fat {
    @include media ($medium-screen) {
      @include span-columns(6);
    }
  }
}

#footer {
  background: black;
  height: 100%;
  color: white;
  padding: 2em;
}
