// gif overrides on index page
.index .gifs {
  article {
    @include media($medium-screen) {
      padding-bottom: 0;
      @include span-columns(4);
      overflow: hidden;
      img { height: 180px; }
    }
  }
}

// gif overrides on show page page
.gifs {}


.grid {
  @include row;
  .index & {}
    article {
      padding-bottom: 1em;
    }
}
// .gifs {
//   @include row();
//   padding-top: 2em;
//   &.show {
//     padding-bottom: 1em;
//     margin-top: 1em;
//     .controls {
//       text-align: right;
//     }
//     @include media($medium-screen) {
//       padding-bottom: 2em;
//       @include span-columns(12);
//       img {
//         width: 100%;
//       }
//     }
//     .controls {
//       font-size: 0.8em;
//     }
//   }
//  }
