.index {
  .grid {
    padding-top: 2em;
    .album { text-align: center }
    .image {
      padding-bottom: 1em;
      margin-bottom: 1em;
      img { width: 100%; }
      @include media($medium-screen) {
          @include omega(3n);
          @include span-columns(6);
      }
    }
  }
}

.grid {
  margin: 0 auto;
  .image {
    margin-bottom: 1em;
    img { width: 100%; }
  }
}
