.l-container {
  @include outer-container;
  max-width: 42em;
  min-height: 25em;
}

.blog {
  @include media($medium-screen) {
    margin-top: 2em;
  }
}

.table-width {
  max-width: 58em;
  margin-top: 5em;
}

.logo {
  text-align: center;
  font-size: 1.2em;
  padding: 1em 0;
}

section.main {
  padding: 0.75em;
}

.bird-logo {
  img { width: 100%; }
}

h1 {
  font-family: $fat;
  @include media($medium-screen) { font-size: 5em }
}

p { font-size: 1.3em; }

@include media($medium-screen) {
  section {
    @include row();
    // margin-top: 2em;
    .title {
      @include span-columns(3);
    }
    .copy {
      @include span-columns(9);
    }
    .book {
      @include span-columns(4);
      h4 { font-size: 1em; }
      h5 {
        font-size: 0.8em;
        &.grade {
          color: $blue;
        }
      }
    }
    .review {
      @include span-columns(8);
      p { font-size: 1em; }
    }
  }
}


footer {
  background: white;
  padding: 1em;
  margin-top: 1em;
}
