h1 Add an image to your signature
h2 Create a signature with vertically aligned text.
=image_tag 'sig.png'
p Want an image with your name next to it nice and vertically aligned?
p I wanted to have an image in my email signagure, similar to a social network pic. Why? I dunno, I suppose I'm used to it now.
p There are a few problems with the current approach in stacking of images. Without getting too technical, you need a little bit more of a sophisticated solution.
p So, if you want to make this happen, it's a 2 step process;
h3 Step 1 - upload an image to the internet.
p I uploaded my image to google+. But you can do it anywhere. You just need to be able to copy the image url. 
p To do this, right-click the image and open it in a new tab. 
= image_tag 'url.png'


h3 Step 2 - Paste in below
h4 Warning code below.
p Do not be alarmed by the HTML. It won't hurt you. We can do this together. Take the image url you copied and paste it into the line that says _src="https://..."_ 
p If you have done it right, you should see your image there instead of that cute little green bird.

h3 Step 3 - Change your name how you want it to read.

<a class="jsbin-embed" href="http://jsbin.com/hisow/5/embed?html,output">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
