// first stop for specific page styling before they become modules

body {
  &.index     { background: white; }
  &.dave      { background: $blog-bg; }
  &.contact   { background: $salmon; }
  &.questions   { background: white; }
  &.code      { background: $paste; }
  &.reading   { background: white; }
  &.photos   { background: white; }
  &.freelance { background: $salmon; }
  &.blog     { background: white; }
  &.bible     { background: $salmon; }
  &.resume    { background: $salmon; }
  &.shortcuts { background: white; }
  &.links     { background: white; }
  &.gifs      { background: white; }
  &.jots      { background: white; }
  &.notes      { background: white; }
  &.art       { background: white; }
  &.videos       { background: white; }
}

// About
.about {
  h1, h2, h3, h4, li { color: white; }
  h2, h3, h4, li { font-family: $fat; }
  p { color: $light-yellow; }
  li { font-size: 1.2em; }
}

// Contact
.contact {
  h1, h2, { color: #800000; }
  p { color: white; }
  .label {
    color: #a1ffe1;
    font-size: 2em;
    @include media($medium-screen) {
      float: left;
    }
  }
  .info, .info a {
    color: yellow;
    @include media($medium-screen) {
      font-size: 1.8em;
    }
  }
}


// Sites
// _dw TODO - change from portfolio to sites
.portfolio {
  h1, h2, h3, h4, li { color: $slate; }
  h2, h3, h4, li { font-family: $fat; }
  p { color: $bird-light-green; }
  li { font-size: 1.2em; }
}


