<nav class='side-stick-nav'>
  <ul>
    <li><a class="scroll-on-page-link" href="#about" title="about">about</a></li>
    <li><a class="scroll-on-page-link" href="#details" title="details">hobbies</a></li>
    <li><a class="scroll-on-page-link" href="#contact" title="contact">contact</a></li>
  </ul>
</nav>
