// .blog {

//   h1.fa {
//     color: $warm-gray;
//     font-size: 2em;
//   }

//   h2{
//     font-size: 1.25em;
//     line-height: 23px;
//     color: $base-font-color;
//     letter-spacing: -1px;
//     @include media($medium-screen) {
//       font-size: 2em;
//       line-height: 32px;
//     }
//   }
//   h3 {
//     font-family: helvetica;
//     font-weight: 100;
//     @include media($medium-screen) {
//       font-size: 1.5em;
//     }
//   }
//   p {
//     font-size: 0.8em;
//     @include media($medium-screen) { font-size: 1.75em; }
//     &.tags {
//       display: block;
//       color: $base-font-color;
//       font-size: 1em;
//     }
//   }
//   article {
//     margin: 1em 0;
//     @include media($medium-screen) { padding: 1em 1em;}
//     p { margin-bottom: 0; }
//     // &:hover { background: rgba(238, 229, 150, 0.5); }
//     a:hover { color: none; }
//   }
// }

// .blog-tags {
//   text-align: right;
//   position: fixed;
//   right: 1em;
//   top: 1em;
// }
