@import 'import';

.blog-footer {
  background: #56A599;
  margin-top: 1em;
  padding-top: 1em;
  h3 {
    color: $blog-bg;
  }
  p {
    font-size: 2em;
    color: white;
    margin: 0;
    padding: 0;
    @include media($medium-screen) {
      font-size: 1.2em;
    }
    &.snip {
      color: $blog-bg;
      margin-bottom: 1em;
      font-size: 1em;
      @include media($medium-screen) {
        font-size: 0.9em;
      }
    }
  }
}

.blog-container {
  @include row();
}
.blog-posts {
  @include span-columns(6);
}
.email-signup {
  @include span-columns(6);
}

#mc_embed_signup #mce-success-response {
  color: rgb(72, 76, 117);
  position: absolute;
  background: rgb(255, 255, 255);
  top: 10px;
  padding: 2em;
  width: 100%;
  left: 0;
  height: 312px;
  font-weight: 400;
}

#mc_embed_signup #mce-success-response::before {
    content: "Awesome! ";
}
