.main {
  margin-top: 3em;
}
.intro-text {
  $intro-text-width: 60%;

  .jot-tag {
    @include media($medium-screen) {
      img { width: 20%; }
      margin-bottom: 1em;
    }
  }
  margin-bottom: 2em;
  text-align: center;

  h2 {
    font-family: $serif;
    font-weight: 800;
    margin-bottom: .3em;
    a {
      color: $dark-gray;
      &:hover{
        color: $salmon;
      }
    }

    @include media($medium-screen) {
      font-size: 2em;
      margin-bottom: .4em;
    }
  }

  h3 {
    background: $base-accent-color;
    color: white;
    display: inline-block;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 3px 8px;
    text-transform: uppercase;

    @include media($large-screen) {
      margin-bottom: 0.75em;
    }
  }

  h4 {
    color: lighten($base-font-color, 20);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em;

    @include media($large-screen) {
      font-size: 1.7em;
      line-height: 1.35em;
      margin: 0 auto 1em;
      width: $intro-text-width;
    }
  }

  p {
    margin: auto;
    font-size: .8em;

    @include media($large-screen) {
      width: $intro-text-width;
    }

    a {
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;

      span {
        font-size: 1.3em;
        line-height: 0;
      }
    }
  }
}

.jot-blurb {
  font-size: 0.9em;
  line-height: 22px;
  text-align: center;
}

.sectional {
  margin-top: 1em;
  padding: 0.5em 0 1em;
  text-align: right;
  border-top: 1px dashed $medium-gray;
  p {
    font-size: 1em;
  }
}

// _nav bar

.scroll-on-page aside {
  font-size: 2em;
  @include media($medium-screen) {
    p {
      color: $blue;
      border-bottom: 2px solid $blue;
      text-transform: uppercase;
    }
    text-align: right;
    font-size: 0.9em;
    position: fixed;
    right: 2em;
    top: 2em;
    a, li { color: $warm-gray; }
  }
}

.scroll-on-page-link {
  padding: $base-spacing / 2 0;
  margin-right: $base-spacing;
  display: block;

  &:last-child {
    margin-bottom: $base-spacing;
  }
}

.scroll-on-page article {
  h4 {
    margin-bottom: .5em;
  }

  section p:last-of-type {
    margin-bottom: 2em;
  }

  @include media($large-screen) {
    @include span-columns(8);
  }
}

// Based on code by http://codepen.io/xmark/

