@import 'modules/nav';
@import 'modules/photos';
@import 'modules/nav';

body {
  &.index     { background: $bird-light-green; }
  &.about     { background: $blue; }
  &.contact   { background: $salmon; }
  &.blog      { background: $paste; }
  &.portfolio { background: $paste; }
}

section.main {
  padding: 0.75em;
}

.bird-logo {
  img { width: 100%; }
}

h1 {
  font-family: $fat;
  @include media($medium-screen) { font-size: 5em }
}

p { font-size: 1.3em; }

@include media($medium-screen) {
  section {
    @include row();
    margin-top: 2em;
    .title {
      @include span-columns(3);
    }
    .copy {
      @include span-columns(9);
    }
    .book {
      @include span-columns(4);
      h4 { font-size: 1em; }
      h5 {
        font-size: 0.8em;
        &.grade {
          color: $blue;
        }
      }
    }
    .review {
      @include span-columns(8);
      p { font-size: 1em; }
    }
  }
}

.about {
  h1, h2, h3, h4, li { color: white; }
  h2, h3, h4, li { font-family: $fat; }
  p { color: $light-yellow; }
  li { font-size: 1.2em; }
}

.portfolio {
  h1, h2, h3, h4, li { color: $slate; }
  h2, h3, h4, li { font-family: $fat; }
  p { color: $bird-light-green; }
  li { font-size: 1.2em; }
}

.tweets {
  .timeline-header { display: none; }
}

.contact {
  h1, h2, { color: #800000; }
  p { color: white; }
  .label {
    color: #a1ffe1;
    font-size: 2em;
    @include media($medium-screen) {
      float: left;
    }
  }
  .info, .info a {
    color: yellow;
    @include media($medium-screen) {
      font-size: 1.8em;
    }
  }
}

.blog {

  h1.fa {
    color: $warm-gray;
    font-size: 2em;
  }

  h2{
    font-size: 1.25em;
    line-height: 23px;
    color: #6F4C1B;
    letter-spacing: -1px;
    @include media($medium-screen) {
      font-size: 3em;
      line-height: 60px;
    }
  }
  h3 {
    font-family: helvetica;
    font-weight: 100;
    @include media($medium-screen) {
      font-size: 1.5em;
    }
  }
  p {
    font-size: 0.8em;
    @include media($medium-screen) { font-size: 1.75em; }
    &.tags {
      display: block;
      color: $warm-gray;
      font-size: 1em;
    }
  }
  article {
    margin: 1em 0;
    @include media($medium-screen) { padding: 1em 1em;}
    p { margin-bottom: 0; }
    &:hover { background: rgba(238, 229, 150, 0.5); }
    a:hover { color: none; }
  }
}

footer {
  background: white;
  padding: 1em;
  margin-top: 1em;
}
