.questions {
  @include row();
  padding-top: 1em;
  .tag {
    @include media($medium-screen) {
      h2 {
        font-size: 1em;
      }
      @include span-columns(3);
      padding-top: 1.5em;
    }
  }
  .content {
    @include media($medium-screen) {
      @include span-columns(9);
      font-size: 0.8em;
      padding-left: 1em;
      border-left: 1px solid $light-gray;
    }
  }
  .title {
    @include media($medium-screen) {
      h2 {
        font-size: 1em;
        padding: 1em 0 0.2em;
      }
      @include span-columns(12);
    }
  }
  .gist {
    @include media($medium-screen) {
      font-size: 0.8em;
      border-left: 1px solid $light-gray;
      padding-left: 1em;
      @include span-columns(12);
    }
  }
}
